/* =============================================================================
GLOBAL
============================================================================= */

/* Text
   ========================================================================== */

$global-font-size: 16px;


/* Fuentes
   ========================================================================== */

$font-primary: sans-serif;


/* Colores
   ========================================================================== */

$color-primary: #000;