/* -----------------------------------------------------------------------------
 * HIDDEN
 */


// Variables
// -----------------------------------------------------------------------------

// Toggling

$u-hidden-enabled: true !default;

// Breakpoints

$u-hidden-breakpoints-enabled: true !default;
$u-hidden-breakpoints: $f-mq-breakpoints !default;


// Output
// -----------------------------------------------------------------------------

@if $u-hidden-enabled {
  .u-hidden {
    display: none !important;
  }
}


// Breakpoints output
// -----------------------------------------------------------------------------

@if $u-hidden-enabled and $u-hidden-breakpoints-enabled {
  @each $_bp-name, $_bp-value in $u-hidden-breakpoints {
    @include breakpoint($_bp-value) {
      .u-hidden#{$s-config-breakpoint-separator}#{$_bp-name} {
        display: none !important;
      }
    }
  }
}