/* -----------------------------------------------------------------------------
 * FLEX
 */


// Variables
// -----------------------------------------------------------------------------

// Toggling

$u-flex-enabled: true !default;

// Breakpoints

$u-flex-breakpoints-enabled: true !default;
$u-flex-breakpoints: $f-mq-breakpoints !default;


// Mixin
// -----------------------------------------------------------------------------

@mixin u-flex($_bp-separator: null, $_bp-name: null) {
  .u-flex#{$_bp-separator}#{$_bp-name} {
    display: flex !important;
  }

  .u-flex-inline#{$_bp-separator}#{$_bp-name} {
    display: inline-flex !important;
  }

  .u-flex-wrap#{$_bp-separator}#{$_bp-name} {
    flex-wrap: wrap !important;
  }

  .u-flex-wrap-reverse#{$_bp-separator}#{$_bp-name} {
    flex-wrap: wrap-reverse !important;
  }

  .u-flex-nowrap#{$_bp-separator}#{$_bp-name} {
    flex-wrap: nowrap !important;
  }

  .u-flex-column#{$_bp-separator}#{$_bp-name} {
    flex-direction: column !important;
  }

  .u-flex-column-reverse#{$_bp-separator}#{$_bp-name} {
    flex-direction: column-reverse !important;
  }

  .u-flex-row#{$_bp-separator}#{$_bp-name} {
    flex-direction: row !important;
  }

  .u-flex-row-reverse#{$_bp-separator}#{$_bp-name} {
    flex-direction: row-reverse !important;
  }

  .u-flex-left#{$_bp-separator}#{$_bp-name} {
    justify-content: flex-start;
  }

  .u-flex-center#{$_bp-separator}#{$_bp-name} {
    justify-content: center !important;
  }

  .u-flex-right#{$_bp-separator}#{$_bp-name} {
    justify-content: flex-end !important;
  }

  .u-flex-between#{$_bp-separator}#{$_bp-name} {
    justify-content: space-between !important;
  }

  .u-flex-around#{$_bp-separator}#{$_bp-name} {
    justify-content: space-around !important;
  }

  .u-flex-top#{$_bp-separator}#{$_bp-name} {
    align-items: flex-start !important;
  }

  .u-flex-middle#{$_bp-separator}#{$_bp-name} {
    align-items: center !important;
  }

  .u-flex-bottom#{$_bp-separator}#{$_bp-name} {
    align-items: flex-end !important;
  }

  .u-flex-baseline#{$_bp-separator}#{$_bp-name} {
    align-items: baseline !important;
  }

  .u-flex-self-start#{$_bp-separator}#{$_bp-name} {
    align-self: flex-start !important;
  }

  .u-flex-self-end#{$_bp-separator}#{$_bp-name} {
    align-self: flex-end !important;
  }

  .u-flex-self-stretch#{$_bp-separator}#{$_bp-name} {
    align-self: stretch !important;
  }

  .u-flex-self-baseline#{$_bp-separator}#{$_bp-name} {
    align-self: baseline !important;
  }

  .u-flex-self-center#{$_bp-separator}#{$_bp-name} {
    align-self: center !important;
  }

  .u-flex-grow-1#{$_bp-separator}#{$_bp-name} {
    flex-grow: 1 !important;
  }

  .u-flex-first#{$_bp-separator}#{$_bp-name} {
    order: -1 !important;
  }
}


// Output
// -----------------------------------------------------------------------------

@if $u-flex-enabled {
  @include u-flex;
}


// Breakpoints output
// -----------------------------------------------------------------------------
@if $u-flex-enabled and $u-flex-breakpoints-enabled {
  @each $_bp-name, $_bp-value in $u-flex-breakpoints {
    @include breakpoint($_bp-value) {
      @include u-flex($s-config-breakpoint-separator, $_bp-name);
    }
  }
}