/* -----------------------------------------------------------------------------
 * TEXT
 */


// Variables
// -----------------------------------------------------------------------------

// Toggling

$u-text-enabled: true !default;

// Properties

$u-text-properties: (
  "align": (left, center, right, justify),
  "transform": (uppercase, lowercase, capitalize)
) !default;

// Breakpoints

$u-text-breakpoints-enabled: true !default;
$u-text-breakpoints: $f-mq-breakpoints !default;


// Output
// -----------------------------------------------------------------------------

@if $u-text-enabled {
  @each $_property, $_property-values in $u-text-properties{
    @each $_property-value in $_property-values {
      .u-text-#{$_property-value} {
        text-#{$_property}: #{$_property-value} !important;
      }
    }
  }
}


// Breakpoints output
// -----------------------------------------------------------------------------

@if $u-text-enabled and $u-text-breakpoints-enabled {
  @each $_bp-name, $_bp-value in $u-text-breakpoints {
    @each $_property, $_property-values in $u-text-properties {
      @each $_property-value in $_property-values {
        .u-text-#{$_property-value}#{$s-config-breakpoint-separator}#{$_bp-name} {
          @include breakpoint($_bp-value) {
            text-#{$_property}: #{$_property-value} !important;
          }
        }
      }
    }
  }
}
