/* -----------------------------------------------------------------------------
 * BORDERS
 */

// Variables
// -----------------------------------------------------------------------------

// Toggling

$u-borders-enabled: true !default;

// Maps

$u-borders-maps: $f-colors !default;

// Output
// -----------------------------------------------------------------------------

@if ($u-borders-enabled) {
  @each $_border-group-name, $_border-group-map in $u-borders-maps {
    @each $_border-name, $_border-value in $_border-group-map {
      .u-border-#{$_border-name} {
        border: 1px solid $_border-value !important;
      }

      .u-border-top-#{$_border-name} {
        border-top: 1px solid $_border-value !important;
      }

      .u-border-right-#{$_border-name} {
        border-right: 1px solid $_border-value !important;
      }

      .u-border-bottom-#{$_border-name} {
        border-bottom: 1px solid $_border-value !important;
      }

      .u-border-left-#{$_border-name} {
        border-left: 1px solid $_border-value !important;
      }

      .u-border-color-#{$_border-name} {
        border-color: $_border-value !important;
      }
    }
  }
}
