/* -----------------------------------------------------------------------------
 * HEADINGS
 */


// Headigns variables

$c-headings-font-weight: 700 !default;

$c-headings-font-size-h1: $f-font-size-h !default;
$c-headings-font-size-h2: $f-font-size-xxxl !default;
$c-headings-font-size-h3: $f-font-size-xxl !default;
$c-headings-font-size-h4: $f-font-size-xl !default;
$c-headings-font-size-h5: $f-font-size-l !default;
$c-headings-font-size-h6: $f-font-size-m !default;

$c-headings-line-height-h1: $f-line-height-h !default;
$c-headings-line-height-h2: $f-line-height-xxxl !default;
$c-headings-line-height-h3: $f-line-height-xxl !default;
$c-headings-line-height-h4: $f-line-height-xl !default;
$c-headings-line-height-h5: $f-line-height-l !default;
$c-headings-line-height-h6: $f-line-height-m !default;

// Headigns ouput

.c-h1, h1,
.c-h2, h2,
.c-h3, h3,
.c-h4, h4,
.c-h5, h5,
.c-h6, h6 {
  font-weight: $c-headings-font-weight;
  margin-bottom: 0;
}

.c-h1, h1 {
  font-size: $c-headings-font-size-h1;
  line-height: $c-headings-line-height-h1;
}

.c-h2, h2 {
  font-size: $c-headings-font-size-h2;
  line-height: $c-headings-line-height-h2;
}

.c-h3, h3 {
  font-size: $c-headings-font-size-h3;
  line-height: $c-headings-line-height-h3;
}

.c-h4, h4 {
  font-size: $c-headings-font-size-h4;
  line-height: $c-headings-line-height-h4;
}

.c-h5, h5 {
  font-size: $c-headings-font-size-h5;
  line-height: $c-headings-line-height-h5;
}

.c-h6, h6 {
  font-size: $c-headings-font-size-h6;
  line-height: $c-headings-line-height-h6;
}