/* ==========================================================================
   #BTN BASE
   ========================================================================== */

/**
 * Estructura y algunos resets para los botones. Aquí no tienen que ir estilos
 * visuales, solo estructurales
 *
 * 1. Resets
 */

@mixin btn-base($padding: null) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0; /* [1] */
  border: 0; /* [1] */
  background: none; /* [1] */
  font-size: inherit; /* [1] */
  cursor: pointer;
  outline: none;

  appearance: none; /* [1] */

  @if $padding {
    padding: $padding;
  }
}
