/* ==========================================================================
   #RESET BUTTON
   ========================================================================== */

@mixin reset-button {
  appearance: none;
  border: 0;
  background: none;
  color: inherit;
  padding: 0;
  outline: none;
}