/* ==========================================================================
   #ASPECT RATIO
   ========================================================================== */

@mixin aspect-ratio($width: 16, $height: 9, $img: true) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  @if $img {
    overflow: hidden;

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }

  }

}
