/* ==========================================================================
   #BTN GHOST
   ========================================================================== */

@mixin btn-ghost( $color: #000, $border: 2px solid #000, $color-hover: null, $border-color-hover: null ) {
  color: $color;
  border: $border;
  text-decoration: none;
  transition: all 0.3s;
  @if $color-hover or $border-color-hover {
    &.is-active,
    &:active,
    &:focus,
    &:hover {
      transition: all 0.3s;
      @if $color-hover {
        color: $color-hover;
      }
      @if $border-color-hover {
        border-color: $border-color-hover;
      }

    }

  }

}
