/* -----------------------------------------------------------------------------
 * POSITION
 */


@mixin position ($direction: both, $position: absolute) {
  position: $position;

  @if $direction == both {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } @elseif $direction == horizontal {
    left: 50%;
    transform: translateX(-50%);
  } @elseif $direction == vertical {
    top: 50%;
    transform: translateY(-50%);
  }
}