/* -----------------------------------------------------------------------------
 * LISTS
 */


// Lists variables

$e-lists-margin-bottom: $g-reset-spacing-vertical !default;
$e-lists-margin-left: 0 !default;

$e-lists-padding-left: $g-reset-spacing-horizontal !default;

// Lists output

dd, ol, ul {
  margin-bottom: $e-lists-margin-bottom;
  margin-left: $e-lists-margin-left;
  padding-left: $e-lists-padding-left;
}