/* -----------------------------------------------------------------------------
 * TABLES
 */


// Tables variables

$e-tables-margin-bottom: $g-reset-spacing-vertical !default;

// Tables output

table {
  margin-bottom: $e-tables-margin-bottom;
  width: 100%;
}