/* =============================================================================
BODY
============================================================================= */

body {
    font-size: $global-font-size;
    line-height: $global-line-height;
    font-family: $font-primary;
}