/* -----------------------------------------------------------------------------
 * DOCUMENT
 */


html {
  box-sizing: border-box;
  font-family: $f-font-family-primary;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}