/* -----------------------------------------------------------------------------
 * CONFIG
 */


// Paths
// -----------------------------------------------------------------------------

$s-config-path-images: "../img/";
$s-config-path-fonts: "../fonts/";


// Special chars
// -----------------------------------------------------------------------------

$s-config-breakpoint-separator: \@ !default;
$s-config-aspect-ratio-separator: \: !default;