/* =============================================================================
GLOBAL
============================================================================= */

/**
 * Texto
 */

$global-font-size: 16px;
$global-line-height: 1.625;

/**
 * Fuentes
 */

$font-primary: sans-serif;

/**
 * Colores
 */

$color-primary: #000;