/* -----------------------------------------------------------------------------
 * WRAPPERS
 */


// Variables
// -----------------------------------------------------------------------------

// Toggling

$u-widths-enabled: true !default;

// Widths

$u-width-none: 0 !default;
$u-width-t: 300px !default;
$u-width-s: 600px !default;
$u-width-m: 800px !default;
$u-width-l: 1200px !default;
$u-width-xl: 1400px !default;
$u-width-xxl: 1600px !default;

// Paddings

$u-width-paddings: $f-spaces !default;

// Map

$u-widths: (
  "none": $u-width-none,
  "t": $u-width-t,
  "s": $u-width-s,
  "m": $u-width-m,
  "l": $u-width-l,
  "xl": $u-width-xl,
  "xxl": $u-width-xxl
) !default;

// Modifiers

$u-widths-modifiers-enabled: true !default;
$u-width-paddings-enabled: true !default;

// Breakpoints

$u-widths-breakpoints-enabled: true !default;
$u-widths-modifiers-breakpoints-enabled: true !default;
$u-widths-breakpoints: $f-mq-breakpoints !default;


// Mixin
// -----------------------------------------------------------------------------

@mixin u-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}


// Output
// -----------------------------------------------------------------------------

@if $u-widths-enabled {
  .o-wrapper {
    @include u-wrapper;

    @if $u-widths-modifiers-enabled {
      @each $_class-name, $_max-width in $u-widths {
        &--#{$_class-name} {
          max-width: $_max-width;
        }
      }
      @if $u-width-paddings-enabled {
        @each $_class-name, $_padding in $u-width-paddings {
          &--pd-#{$_class-name} {
            padding-left: $_padding;
            padding-right: $_padding;
          }
        }
      }
    }
  }
}


// Breakpoints output
// -----------------------------------------------------------------------------

@if $u-widths-enabled and $u-widths-breakpoints-enabled {

  // Object

  @if $u-widths-modifiers-enabled {
    @each $_bp-name, $_bp-value in $u-widths-breakpoints {
      .o-wrapper#{$s-config-breakpoint-separator}#{$_bp-name} {
        @include breakpoint($_bp-value) {
          @include u-wrapper;
        }
      }
    }
  }

  // Sizes

  @if $u-widths-modifiers-breakpoints-enabled {
    @each $_class-name, $_max-width in $u-widths {
      @each $_bp-name, $_bp-value in $u-widths-breakpoints {
        .o-wrapper--#{$_class-name}#{$s-config-breakpoint-separator}#{$_bp-name} {
          @include breakpoint($_bp-value) {
            max-width: $_max-width;
          }
        }
      }
    }
    @if $u-width-paddings-enabled {
      @each $_class-name, $_padding in $u-width-paddings {
        @each $_bp-name, $_bp-value in $u-widths-breakpoints {
          .o-wrapper--pd-#{$_class-name}#{$s-config-breakpoint-separator}#{$_bp-name} {
            @include breakpoint($_bp-value) {
              padding-left: $_padding;
              padding-right: $_padding;
            }
          }
        }
      }
    }
  }
}